[submodule "crawler/third-party/robotstxt"]
	path = crawler/third-party/robotstxt
	url = https://github.com/google/robotstxt
[submodule "crawler/third-party/certify"]
	path = crawler/third-party/certify
	url = https://github.com/djarek/certify
[submodule "crawler/third-party/yaml-cpp"]
	path = crawler/third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "crawler/third-party/libcds"]
	path = crawler/third-party/libcds
	url = https://github.com/khizmax/libcds
[submodule "crawler/third-party/libpqxx"]
	path = crawler/third-party/libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "logger/third-party/yaml-cpp"]
	path = logger/third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "logger/third-party/libpqxx"]
	path = logger/third-party/libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "utils/third-party/libpqxx"]
	path = utils/third-party/libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "utils/third-party/yaml-cpp"]
	path = utils/third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "logger/third-party/libcds"]
	path = logger/third-party/libcds
	url = https://github.com/khizmax/libcds
[submodule "tqp/third-party/libstemmer"]
	path = tqp/third-party/libstemmer
	url = https://github.com/zvelo/libstemmer
[submodule "tqp/third-party/cld3"]
	path = tqp/third-party/cld3
	url = https://github.com/google/cld3
[submodule "tqp/third-party/icu-cmake"]
	path = tqp/third-party/icu-cmake
	url = https://github.com/viaduck/icu-cmake
[submodule "utils/third-party/libcds"]
	path = utils/third-party/libcds
	url = https://github.com/khizmax/libcds
